.throw-body {
  justify-content: space-around;
  font-size: 1em;
  border-bottom: 0.5px solid gray;
  transition: background-color 0.2s;
}

.throw-body:hover {
  justify-content: space-around;
  font-size: 1em;
  border-bottom: 0.5px solid gray;
  background-color: black;
}

.throws-menu {
  border: 1px solid gray;
  border-radius: 0.5em;
  overflow: hidden;
}

.throws-menu :last-child {
  border-bottom: none;
}
